<!-- 회원가입 창 -->
{% load staticfiles %}

{% include "layout/navigation1.html" %}


{%block content %}
<div style="text-align:center">
    <a href='/'><img src="{%static 'home/icon/copang_big.png' %}" style="max-width: 100%"></a>

</div>


<div class="container" style="max-width: 35%">

    <div class="row" style="margin-top:20px">
        <span class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-2 col-md-offset-3">
            <form role="form" action="/accounts/register/" method="post">
                {% csrf_token %}
                <fieldset>
                    <h2>회원가입</h2>
                    <hr class="colorgraph">
                    <h5>로그인 정보</h5> <!-- 아이디, 비밀번호-->
                    <div class="form-group">
                        <input name="id" id="id" class="form-control input-lg" placeholder="생성할 ID">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                            placeholder="생성할 비밀번호">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password_check" id="password_check" class="form-control input-lg"
                            placeholder="비밀번호 확인">
                    </div>
                    <h5>개인정보</h5> <!-- 이름, 이메일, 주소, 연락처-->
                    <!-- 이름 -->
                    <div class="form-group">
                        <input name="id" id="id" class="form-control input-lg" placeholder="이름">
                    </div>
                    <!-- 이메일-->
                    <div class="form-group">
                        <input name="id" id="id" class="form-control input-lg" placeholder="이메일"
                            style="max-width:252px;display:inline;">
                        <span style="display:inline;">@</span>
                        <input name=" id" id="id" class="form-control input-lg" placeholder=""
                            style="max-width:252px;display:inline;">
                        <!-- 카테고리 검색 메뉴 -->
                        <div class="dropdown" style="display: inline;">
                            <button class=" btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                직접입력
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">직접입력</a>
                                <a class="dropdown-item" href="#">naver.com</a>
                                <a class="dropdown-item" href="#">yahoo.co.kr</a>
                                <a class="dropdown-item" href="#">푸드</a>
                                <a class="dropdown-item" href="#">공연티켓</a>
                                <a class="dropdown-item" href="#">스포츠/레저</a>
                                <a class="dropdown-item" href="#">가구</a>
                                <a class="dropdown-item" href="#">뷰티</a>
                                <a class="dropdown-item" href="#">유아</a>
                                <a class="dropdown-item" href="#">기타</a>

                            </div>
                        </div>
                    </div>
                    <!-- 
                    <div class="form-group" style="display: inline;">
                        <input name="id" id="id" class="form-control input-lg" placeholder="주소" style="width:400px;">
                    </div>
                    <div class="form-group">
                        <input name="id" id="id" class="form-control input-lg" placeholder="상세주소">
                    </div> -->
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <button class="btn btn-lg btn-primary btn-block">회원가입 완료</a>
                        </div>
                    </div>
                </fieldset>
            </form>
    </div>
</div>

</div>
{% endblock %}