{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'home/css/bootstrap.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- 회색 navgation bar-->
    <nav class="navbar navbar-expand-sm nav_top" style="background-color: gray;">
        <div class="navbar-header">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <MARQUEE style="width: 550px; height:auto; margin-left : 550px">
                        안녕하세요 저희 코팡을 방문해주셔서 감사합니다</MARQUEE>
                </li class="nav-item">
                <li class="nav-item">
                    <a href="#" style="color:white; margin-left : 200px">로그인</a>
                </li>
                <li class="nav-item">
                    <a href="#" style="color:white; margin-left : 20px">회원가입</a>
                </li>
                <li class="nav-item">
                    <a href="#" style="color:white; margin-left : 20px">고객센터</a>
                </li>

            </ul>
        </div>
    </nav>
    <!----------------------------------------------------------------------------------------------------------->
    <!-- copang navitionbar-->
    <nav class="container navbar navbar-expand-sm bg-light nav_middle">
        <div class="navbar-header">
            <ul class="navbar-nav">
                <!-- 홈페이지 이름-->
                <li class="nav-item">
                    <a class="navbar-brand" href="{%url 'home:home' %}"
                        style="margin-right:25px; margin-top:15px">copang</a>
                </li>
                <li class="nav-item">
                    <br />
                    <!--검색 폼 -->
                    <form class="form-inline" action="#" style="margin-right:50px">
                        <!-- 카테고리 검색 메뉴 -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                카테고리
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <!-- 입력 칸-->
                        <input class="form-control" type="text" style="width:400px" placeholder="검색어를 입력하세요!">
                        <!-- 검색 버튼-->
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                <li class="nav-item">
                    <a href="#"><img src="{%static 'home/icon/내정보.png' %}" style="max-width: 100%;"></a>
                </li>
                <li class="nav-item">
                    <a href="#"><img src="{%static 'home/icon/장바구니.png' %}" style="max-width: 100%;"></a>
                </li>
            </ul>
        </div>
    </nav>
    <!------------------------------------------------------------------------------------------------------------->
    <!-- 제일 밑의 네비게이션 -->
    <nav class="container navbar navbar-expand-sm nav_bottom" style="background-color: rgba(175, 214, 240, 0.815);">
        <div class=" navbar-header">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" style="margin-left : 20px; font-size:15px">
                        <img src="{%static 'home/icon/menu.png' %}" style="max-width: 100%;">
                        전체 카테고리
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" style="margin-left : 13px; font-size:12px">패션</a>
                </li>
                <li class="nav-item">
                    <a href="#" style="margin-left : 13px; font-size:12px">푸드</a>
                </li>
                <li class="nav-item">
                    <a href="#" style="margin-left : 13px; font-size:12px">공연티켓</a>
                </li>
                <li class="nav-item">
                    <a href="#" style="margin-left : 13px; font-size:12px">스포츠/레저</a>
                </li>
                <li class="nav-item">
                    <a href="#" style="margin-left : 13px; font-size:12px">가구</a>
                </li>
                <li class="nav-item">
                    <a href="#" style="margin-left : 13px; font-size:12px">뷰티</a>
                </li>
                <li class="nav-item">
                    <a href="#" style="margin-left : 13px; font-size:12px">유아</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-------------------------------------------------------------------------------------------->
    {% block content %}{% endblock %}
</body>

</html>