{% load staticfiles %}
<!-- 제일 밑의 네비게이션 -->
<nav class="container navbar navbar-expand-sm nav_bottom" style="background-color: rgba(175, 214, 240, 0.815);">
    <div class=" navbar-header">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" style="margin-left : 20px; font-size:15px">
                    <img src="{%static 'home/icon/menu.png' %}" style="max-width: 100%;">
                    전체 카테고리
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'man_fashion' %}" style="margin-left : 13px; font-size:12px">남성패션</a>
            </li>
            <li class="nav-item">
                <a href="#" style="margin-left : 13px; font-size:12px">푸드</a>
            </li>
            <li class="nav-item">
                <a href="#" style="margin-left : 13px; font-size:12px">공연티켓</a>
            </li>
            <li class="nav-item">
                <a href="#" style="margin-left : 13px; font-size:12px">스포츠/레저</a>
            </li>
            <li class="nav-item">
                <a href="#" style="margin-left : 13px; font-size:12px">가구</a>
            </li>
            <li class="nav-item">
                <a href="#" style="margin-left : 13px; font-size:12px">뷰티</a>
            </li>
            <li class="nav-item">
                <a href="#" style="margin-left : 13px; font-size:12px">유아</a>
            </li>
        </ul>
    </div>
</nav>
<!-------------------------------------------------------------------------------------------->